services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"

  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: app_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  producer:
    build: ./producer
    container_name: publisher
    depends_on:
      - mongodb
      - kafka
    environment:
      MONGO_URI: mongodb://mongodb:27017/
      KAFKA_SERVER: kafka:9092

  consumer:
    build: ./consumer
    container_name: consumer
    depends_on:
      - kafka
      - mysql
    environment:
      KAFKA_SERVER: kafka:9092
      MYSQL_HOST: mysql

  analytics-api:
    build: ./analytics_api
    container_name: analytics_api
    ports:
      - "8000:8000"
    depends_on:
      - mysql
    environment:
      MYSQL_HOST: mysql
